<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../style.css">
  <title> 
    <%= gebruiker.gebruikersnaam %>
  </title>
</head>
<body>
  <h1>JOUW PROFIEL</h1>
  <p>naam: <%= gebruiker.gebruikersnaam %> </p>
  <p>interesses: <%= gebruiker.interesse %> </p>
  <p>er zijn <%= aantalMensen %> resultaten</p>
<ol>
    <% gebruikers.forEach(function(gebruikers) { %>

    <li>
      
  
        <%=gebruikers.gebruikersnaam %>
        <%=gebruikers.interesse %>
   
     

    </li>
    <% }); %>
  </ol>
    <p>Bekijk hier het overzicht: </p>
    <a href="/overzicht">hiero</a>
</body>
</html>
  

    