<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../style.css">
  <title> 
    <%= gebruiker.gebruikersnaam %>
  </title>
</head>
<body>
  <h1>JOUW PROFIEL</h1>
  <h2>Hoi <%= gebruiker.gebruikersnaam%>, Dit is jouw profiel:</h2>
  <div id="profiel">
  <p>Naam: <%= gebruiker.gebruikersnaam %> </p>
  <p>Jouw interesses: <%= gebruiker.interesse %> </p>
</div>
<h2>Hoe nu verder?</h2>
  <h3>Er zijn <%= aantalMensen %> andere gebruikers. Mogelijk hebben zij een gedeelde interesse!</h3>
  <p>Bekijk hier het complete overzicht: </p>
  <a href="/overzicht" id="btn1">Overzicht</a>

 
</body>
</html>
  

    